[submodule "ext/libexecutable"]
	path = ext/libexecutable
	url = gitosis@sharemind.cyber.ee:sharemind/libexecutable
[submodule "ext/libmodapi"]
	path = ext/libmodapi
	url = gitosis@sharemind.cyber.ee:sharemind/libmodapi
[submodule "ext/vm_globals"]
	path = ext/vm_globals
	url = gitosis@sharemind.cyber.ee:sharemind/vm_globals
[submodule "ext/vm_m4"]
	path = ext/vm_m4
	url = gitosis@sharemind.cyber.ee:sharemind/vm_m4
[submodule "ext/libvmi"]
	path = ext/libvmi
	url = gitosis@sharemind.cyber.ee:sharemind/libvmi
[submodule "ext/libsoftfloat"]
	path = ext/libsoftfloat
	url = gitosis@sharemind.cyber.ee:sharemind/libsoftfloat
